# Security
.secrets.env
.cluster_tokens.env
.env
certs/
workspace/

# Python
venv/
__pycache__/
.pytest_cache/

#aider AI chat histories
.aider.*

#tokens
proxy/cl100k_base.tiktoken
proxy/9b5ad716431e6077c748b039600b13ad